.trip {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.trip-card-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.trip-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.add-trip-button {
    min-width: 90px;
    height: auto;
    padding: 10px;
    background-color: #2471a3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.user-profile-picture {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 50%;
    background-color: #ffffff;
}

.user-profile-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-profile-resume {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.user-profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}

.user-profile-popularity {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.user-profile-popularity-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.user-map {
    width: 35vw;
    height: 50vh;
    margin-right: 80px;
}

svg {
    display: inline-block;
    vertical-align: middle;
}

path {
    stroke: #2471a3;
}